{{ define "main" }}
    <div class="article-list">
        <div class="index-content">
            {{ .Content }}
        </div>

        <h1>{{ i18n .Title }}</h1>

        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range $pages }}
            {{ $page := . }}
            <div class="post-short-list">
            {{- with $page.Params.image -}}
                {{- $imageSrc := . -}}
                {{- with $page.Site.Params.cloudinary -}}
                    <a class="media" href="{{ $page.RelPermalink }}">
                        <img src="{{ .baseURL }}{{ .thumbnailTransform }}{{ $imageSrc }}" alt="{{ $page.Title }}" width="150">
                    </a>
                {{- else -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" $imageSrc ) -}}
                            {{- $image := .Fill "300x300" -}}
                            <a class="media" href="{{ $page.RelPermalink }}">
                                <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}" width="150">
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
                <div class="desc">
                    <header> 
                        <h2>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                    </header>
                    {{ partial "articleInfoFull.html" . }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}