{{ define "main" }}
    <div class="article-list">
        <div class="index-content">
            {{ .Content }}
        </div>

        <h1>{{ i18n .Title }}</h1>

        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range $pages }}
            {{ $page := . }}
            <div class="post-short-list">
            {{- with $page.Params.image -}}
                {{- $image := . -}}
                {{- with $page.Site.GetPage "section" "images" -}}
                    {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" $image ) -}}
                        {{- $image := .Fill "300x300" -}}
                        <div class="media">
                            <a href="{{ $page.RelPermalink }}" class="d-block">
                                <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}" width="150">
                            </a>
                        </div>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
                <div class="desc">
                    <header> 
                        <h2>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                    </header>
                    {{ partial "articleInfoFull.html" . }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}