{{ define "main" }}

    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ partial "articleInfoFull.html" . }}

        {{ $page := . }}
        {{- with $page.Params.image -}}
            {{- $imageSrc := . -}}
            {{- with $page.Site.Params.cloudinary -}}
                <figure>
                    <a href="{{ .baseURL }}{{ $imageSrc }}">
                        <img src="{{ .baseURL }}{{ .defaultTransform }}{{ $imageSrc }}" alt="{{ $page.Title }}" >
                    </a>
                </figure>
            {{- else -}}
                {{- with $page.Site.GetPage "section" "images" -}}
                    {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" $imageSrc ) -}}
                        {{ $image := .Fit "1000x1000" }}
                        <figure>
                            <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
                        </figure>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        <div class="content">
            {{ .Content }}
        </div>

    </article>

    {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

{{ end }}